<template>
  <form @submit.prevent="submit">
    <FormGroup
      :error="fieldHasErrors('jira_url')"
      :helper-text="$t('jiraIssuesDataSync.urlHelper')"
      required
      small-label
      class="margin-bottom-2"
    >
      <template #label>{{ $t('jiraIssuesDataSync.jiraUrl') }}</template>
      <FormInput
        ref="jira_url"
        v-model="v$.values.jira_url.$model"
        size="large"
        :error="fieldHasErrors('jira_url')"
        :disabled="disabled"
        @focus.once="$event.target.select()"
      />
      <template #error>
        {{ v$.values.jira_url.$errors[0]?.$message }}
      </template>
    </FormGroup>

    <FormGroup
      :error="fieldHasErrors('jira_username')"
      :helper-text="$t('jiraIssuesDataSync.usernameHelper')"
      required
      small-label
      class="margin-bottom-2"
    >
      <template #label>{{ $t('jiraIssuesDataSync.jiraUsername') }}</template>
      <FormInput
        ref="jira_username"
        v-model="v$.values.jira_username.$model"
        size="large"
        :error="fieldHasErrors('jira_username')"
        :disabled="disabled"
        @focus.once="$event.target.select()"
      />
      <template #error>
        {{ v$.values.jira_username.$errors[0]?.$message }}
      </template>
    </FormGroup>

    <FormGroup
      :error="fieldHasErrors('jira_api_token')"
      :helper-text="$t('jiraIssuesDataSync.apiTokenHelper')"
      required
      small-label
      class="margin-bottom-2"
      :protected-edit="update"
      @enabled-protected-edit="allowedValues.push('jira_api_token')"
      @disable-protected-edit="
        ;[
          allowedValues.splice(allowedValues.indexOf('jira_api_token'), 1),
          delete values['jira_api_token'],
        ]
      "
    >
      <template #label>{{ $t('jiraIssuesDataSync.apiToken') }}</template>
      <FormInput
        ref="jira_api_token"
        v-model="v$.values.jira_api_token.$model"
        size="large"
        :error="fieldHasErrors('jira_api_token')"
        :disabled="disabled"
        @focus.once="$event.target.select()"
      />
      <template #error>
        {{ v$.values.jira_api_token.$errors[0]?.$message }}
      </template>
    </FormGroup>

    <FormGroup
      :helper-text="$t('jiraIssuesDataSync.projectKeyHelper')"
      small-label
    >
      <template #label>{{ $t('jiraIssuesDataSync.projectKey') }}</template>
      <FormInput
        ref="jira_project_key"
        v-model="v$.values.jira_project_key.$model"
        size="large"
        :disabled="disabled"
        @focus.once="$event.target.select()"
      />
    </FormGroup>
  </form>
</template>

<script>
import { useVuelidate } from '@vuelidate/core'
import { required, requiredIf, url, helpers } from '@vuelidate/validators'
import form from '@baserow/modules/core/mixins/form'

export default {
  name: 'JiraIssuesDataSyncForm',
  mixins: [form],
  props: {
    update: {
      type: Boolean,
      required: false,
      default: false,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup() {
    return { v$: useVuelidate({ $lazy: true }) }
  },
  data() {
    const allowedValues = ['jira_url', 'jira_username', 'jira_project_key']
    if (!this.update) {
      allowedValues.push('jira_api_token')
    }
    return {
      allowedValues,
      values: {
        jira_url: '',
        jira_username: '',
        jira_project_key: '',
        jira_api_token: '',
      },
    }
  },
  validations() {
    return {
      values: {
        jira_url: {
          required: helpers.withMessage(
            this.$t('error.requiredField'),
            required
          ),
          url: helpers.withMessage(this.$t('error.invalidURL'), url),
        },
        jira_username: {
          required: helpers.withMessage(
            this.$t('error.requiredField'),
            required
          ),
        },
        jira_api_token: {
          required: helpers.withMessage(
            this.$t('error.requiredField'),
            requiredIf(() => {
              return this.allowedValues.includes('gitlab_access_token')
            })
          ),
        },
        jira_project_key: {},
      },
    }
  },
}
</script>
